.teacher1 {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  width: 70%;
  margin-top: 100px;
  margin-left: 200px;
  border-radius: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.6), 0 10px 10px rgba(0, 0, 0, 0.8);
}
.interest {
  margin-left: 39.5%;
}

@media (max-width: 600px) {
  .teacher1 {
    width: 100%;
    margin-left: 0px;
  }
  .experience {
    margin-left: 40%;
  }
  .interest {
    margin-left: 0%;
  }
}
