.maincontainer {
  font-family: "Montserrat", sans-serif;
  /* background: linear-gradient(90deg, #cc2b56 0%, #753e88 100%); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.h1 {
  font-weight: bold;
  margin: 0;
}
.p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
span {
  font-size: 12px;
}
.a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.containerone {
  background: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 700px;
}
.form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.social_container {
  margin: 20px 0;
}
.socia_container a {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.form_container input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.error {
  border: 1px solid red;
}
.error::placeholder {
  color: red;
}
.Button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 0.2ms ease-in;
  outline: none;
}
.Button:active {
  transform: scale(0.95);
}
.Button:focus {
  outline: none;
}

.Button.ghost {
  background: transparent;
  border-color: #fff;
}

.form_container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.sign_in_container {
  left: 0;
  width: 50%;
  z-index: 2;
}
.sign_up_container {
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
}
.overlay_container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.overlay {
  background: black;
  color: #ddd;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay_panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.overlay_right {
  right: 0;
  transform: translateX(0%);
}
.overlay_left {
  transform: translateX(-20%);
}

/*Animation*/

.containerone.right_panel_active .sign_in_container {
  transform: translateX(100%);
  opacity: 0;
}

/* Move Overlay */
.containerone.right_panel_active .overlay_container {
  transform: translateX(-100%);
}

.containerone.right_panel_active .sign_up_container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.containerone.right_panel_active .overlay {
  transform: translateX(50%);
}
.containerone.right_panel_active .overlay_left {
  transform: translateX(0);
}

#new,
#new1 {
  display: none;
}

@media screen and (max-width: 700px) {
  .overlay_container {
    display: none;
  }
  #new,
  #new1 {
    display: block;
    margin-top: 2rem;
    /* position: relative;
   top: -0%; */
  }
  .h1 {
    font-size: 1.2rem;
  }
  .overlay_mobile {
    left: 0;
    z-index: 8;
    width: 20%;
    position: absolute;
    height: 100%;
  }
  .overlay_mobile.slide {
    animation: slide 0.7s ease-out;
    animation-fill-mode: both;
    transition: all 0.5s;
  }
  .overlay_mobile.slide1 {
    animation: slide1 0.7s ease-out;
  }
  .overlay_mobile .overlay {
    left: -70%;
    width: 100%;
    background-color: black;
    position: relative;
    height: 106%;
  }
  .containerone {
    /* max-width: 500px; */
    min-width: 200px;
    min-height: 700px;
    width: 85%;
    overflow: auto;
  }
  .form_container {
    width: 100%;
    top: 5.6%;
  }
  .sign_up_container.fadein {
    animation: fadeIn 0.8s;
    animation-fill-mode: both;
    /* transition: all 0.5s ; */
  }
  .sign_in_container.fadein1 {
    animation: fadeIn1 1.1s;
    animation-fill-mode: both;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(-200px);
      z-index: 2;
    }

    100% {
      transform: translateX(0);
      z-index: 5;
      opacity: 1;
    }
  }
  @keyframes fadeIn1 {
    0% {
      opacity: 0;
      transform: translateX(+200px);
      z-index: 2;
    }

    100% {
      transform: translateX(0);
      z-index: 5;
      opacity: 1;
    }
  }
  @keyframes slide {
    0% {
      opacity: 1;
      transform: translateX(0);
      z-index: 6;
    }
    /* 50%{
           opacity: 0.;
           transform: translateX(50%);

           z-index: 6;
       } */
    100% {
      opacity: 1;
      transform: translateX(550%);

      z-index: 6;
    }
  }
  @keyframes slide1 {
    0% {
      opacity: 1;
      transform: translateX(500%);
      z-index: 6;
    }
    /* 50%{
           opacity: 0.;
           transform: translateX(50%);

           z-index: 6;
       } */
    100% {
      opacity: 1;
      transform: translateX(0);

      z-index: 6;
    }
  }
}
