.highcharts-background {
  fill: rgba(0, 0, 0, 0);
  stroke: white;
  stroke-width: 2px;
}

.highcharts-credits {
  stroke: green;
  fill: green;
  display: none;
}
text {
  stroke: white;
  fill: white;
}
tspan {
  fill: white;
  stroke: white;
}
