.routine_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 600px;
}

.subjectname {
  display: flex;
  flex-direction: row;
  width: 500px;

  margin: 50px;
  align-content: space-around;
  justify-content: space-around;
}
.subjectname h5 {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: white;
}
.carousel.slide {
  margin-top: 0;
}

@media (max-width: 600px) {
  .routine_item {
    height: 45%;
  }
  .subjectname {
    width: 220px;
  }
  .subjectname h5 {
    font-size: 1.2rem;
  }
  #caroclass {
    max-height: 300px;
    margin-top: 50%;
  }
}
